---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="toc-div">
        <div class="toc-header">Table of Contents</div>
        {% include toc.html html=content class="toc" %}
      </div>
      <div class="entry-content">
        {{ content }}
      </div>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2333333335898405"
              crossorigin="anonymous"></script>
      <ins class="adsbygoogle"
           style="display:block; text-align:center;"
           data-ad-layout="in-article"
           data-ad-format="fluid"
           data-ad-client="ca-pub-2333333335898405"
           data-ad-slot="1704440359"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
  </div>
</main>
