---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="right-wrap">
        <div class="right-header">Category</div>
        <ul class="content-list">
          {% assign categories_max = 0 %}
          {% for category in site.categories %}
          {% if category[1].size > categories_max %}
          {% assign categories_max = category[1].size %}
          {% endif %}
          {% endfor %}
          {% for i in (1..categories_max) reversed %}
          {% for category in site.categories %}
          {% if category[1].size == i %}
          <li>
            <a href="/categories/#{{ category[0] | slugify }}">
              {{ category[0] }} <span>({{ i }})</span>
            </a>
          </li>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </ul>
        <br/>
        <div class="right-header">Table of Contents</div>
        {% include toc.html html=content class="content-list" %}
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2333333335898405"
             data-ad-slot="6026828749"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <div class="entry-content">
        {{ content }}
      </div>
      <!-- 수평광고 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-2333333335898405"
           data-ad-slot="1137819361"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
  </div>
</main>
